{% extends 'layout.html' %}
{% load static %}

{% block cssArea %}
<link rel="stylesheet" href="{% static 'challenges/challenges.css' %}">
<link rel="stylesheet" href="{% static 'challenges/includes/header.css' %}">
{% endblock %}

{% block pageTitle %}
    {{ curMonth|title }} Challenge
{% endblock %}

{% block content %}
    {% include "./includes/header.html" %}


    <h1>{{ curMonth|title }}'s Challenge</h1>
    {% if text is not None %}
        <h2>{{ text  }}</h2>
    {% else %}
        <p class="fallback">There is no challenge for this month</p>
    {% endif %}
{% endblock %}