body{
    background: linear-gradient(to right top, #b211c7d8, #d0ade4);
    background-repeat: no-repeat;

}

#post {
    background-color: rgba(255, 255, 255, 0.829);
    padding: 2rem;
    border-radius: 12px;
    width: 60rem;
    margin: 1rem auto 2rem auto;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.4);

}

#post:hover{
    transform: scale(1.1);
    background-color: #0db7eb;
    transition: 0.5s;
    color: white;
}

.link{
    text-decoration: none;
}